{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}
    <div>
        <div class="text-center">
            <h1>{{ post.title }}</h1>
        </div>
        <br>
        <img class="rounded mx-auto d-block homepage_image" src="{% static post.get_photo_url %}" alt="">
        <p></p>
        <small>
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
                <a href="{% url 'blog:blog_category' category.name %}">
                    {{ category.name }}
                </a>&nbsp;
            {% endfor %}
        </small>
        <p>{{ post.body | safe }}</p>
        <br>
        <hr class="my-4">
        <br>
        <h3>Comments:</h3>
        {% if comments %}
            {% for comment in comments %}
                <p>
                    On {{ comment.created_on.date }}&nbsp;
                    <b>{{ comment.author }}</b> wrote:
                </p>
                <p>{{ comment.body }}</p>
                <hr>
            {% endfor %}
        {% else %}
            <p>There are no comments yet. Be the first to comment!</p>
        {% endif %}

        <br>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                Leave a comment!
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <form action="/blog/{{ post.pk }}/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.author }}
                </div>
                <div class="form-group">
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.body }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}