{% extends 'base.html' %}

{% block title %}
    Contact Me
{% endblock %}
{% block content %}

    {% if submitted %}
        <h1>Thank you for submitting! I should reach out to you shortly. </h1>
        <h4>You can use the buttons below to keep browsing</h4>
        <br>
        <a href="{% url 'pages_about_me:home' %}" class="btn btn-primary btn-lg">Home</a>
        <a href="{% url 'project:project_index' %}" class="btn btn-primary btn-lg">Projects</a>
        <a href="{% url 'blog:blog_index' %}" class="btn btn-primary btn-lg">Blogs</a>
        <a href="{% url 'pages_about_me:aboutme' %}" class="btn btn-primary btn-lg">About Me</a>

    {% else %}
        <h1>The best way to contact me is to use the form below!</h1>
        <form method="POST">
            {% csrf_token %}
            <div id="emailHelp" class="form-text">Real or fake name, both work.</div>
            <div class="form-group">
                {{ form.name }}
            </div>
            <div id="emailHelp" class="form-text">Like all websites, 'your email is safe with us.'</div>
            <div class="form-group">
                {{ form.email }}
            </div>
            <div id="emailHelp" class="form-text">You can say anything you want! Someone (me) will reach out to you shortly!</div>
            <div class="form-group">
                {{ form.body }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    {% endif %}
{% endblock %}
