{% extends 'base.html' %}
{% load static %}
{% block title %}
    Coding with Jayson
{% endblock %}
{% block content %}

    <h1 class="display-4">Code with Jayson!</h1>
    <hr class="my-4">
    <h5>Howdy, welcome to my portfolio website! This is the best place to find my creations -
        broad range of content available here from information about me to tutorials that I have written.
        If you want to contact me, please use the <a href="{% url 'pages_about_me:contactme' %}">Contact Me</a> Form!
    </h5>
    <br>

    <h5>I'm a self-taught developer mainly focusing on python. Graduated from Texas A&M as a Mechanical
        Engineer but quickly realized it is not the field for me. I have spent most of my free time learning teaching
        myself how to
        code. To get to know more about me, check out my <a href="{% url 'pages_about_me:aboutme' %}">About Me</a> page.
    </h5>
    <br>
    <br>
    <h2>Check out some of my latest work:</h2>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h3>Project:</h3>
            {% for project in projects %}
                <div class="card mb-2">
                    <img class="img-fluid homepage_image mx-auto" src="{% static project.get_photo_url %}">
                    <div class="card-body">
                        <h4 class="card-title"><a
                                href="{% url 'project:project_detail' project.pk %}">{{ project.title }}</a></h4>
                        <p class="card-text">{{ project.body |safe| slice:'250' }}...</p>
                    </div>
                </div>
            {% endfor %}
        <a href="{% url 'project:project_index' %}" class="btn btn-primary btn-lg">All Projects</a>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h3>Blog:</h3>
            {% for blog in blogs %}
                <div class="card mb-2">
                    <img class="img-fluid homepage_image mx-auto" src="{% static blog.get_photo_url %}">
                    <div class="card-body">
                        <h4 class="card-title"><a
                                href="{% url 'blog:blog_detail' blog.pk %}">{{ blog.title }}</a></h4>
                        <p class="card-text">{{ blog.body |safe| slice:'250' }}...</p>
                    </div>
                </div>

            {% endfor %}
        <a href="{% url 'blog:blog_index' %}" class="btn btn-primary btn-lg">All Blogs</a>
        </div>
    <br>
    <h2>Find me on Github:</h2>
    <p><a href="https://github.com/randomName5577"><img class="miniLogo" src="{% static 'images/github_logo.png' %}"
                                                        alt="">randomName5577</a></p>

{% endblock %}

