{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ project.title }}
{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ project.title }}</h1>
    </div>
    <br>
    <img class='rounded mx-auto d-block homepage_image' src="{% static project.get_photo_url %}" alt="" width="100%">
    <br>
    <small>
        Categories:
        {% for category in project.technology.all %}
            <a href="{% url 'project:projects_sorted' category %}">
                {{ category }}
            </a>
        {% endfor %}
    </small>
    <br>
    <br>
    <h4>Details:</h4>
    <p>{{ project.body|safe }}</p>
    <br>
    <br>
    {% if project.github_link %}
        <p><img class="miniLogo" src="{% static 'images/github_logo.png' %}" alt="">Access files on GitHub by clicking
            <a
                    href={{ project.github_link }}>here</a></p>
    {% else %}
        <p>There is no link for the file(s), it will be uploaded shortly.</p>
    {% endif %}


{% endblock %}